@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

:root {
    --whitepage: #F1EFEF;
    --blackpage: #191717;
}

.navbar, .banner, .academic, .experience-container, .aca, .exp, .images, .footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    min-height: 65px;
    flex-direction: row;
    gap: 24px;
    background-color: var(--blackpage);
    color: var(--whitepage);
}

.sub {
    border-bottom: 2px solid transparent;
    transition: .2s all ease-out;
}

.sub:hover { border-bottom: 2px solid white; }
.another { 
    font-family: 'Kalam', cursive;
    margin-bottom: -10px; 
}

.banner {
    min-height: 90vh;
    font-size: 45px;
}

.text { margin-left: 5%; }
.image {
    max-width: 30%;
    margin: 0 auto;
    overflow: hidden;
}

.image img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.close {
    background-color: var(--blackpage);
    color: var(--whitepage);
    display: inline;
}

a { 
    color: var(--whitepage); 
    text-decoration: none;
}

a:hover, a:active, a:visited {
    color: var(--whitepage);
    text-decoration: none;
}

.aca, .exp {
    width: 100%;
    border-radius: 24px;
    margin: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    min-height: 300px;
}

.aca-container-image, .job-container-image {
    max-width: 150px;
    overflow: hidden;
    margin: 30px;
}

.aca-container-image img, .job-container-image img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.degree-info, .job-info { margin-top: 15px; }
h1.big-text-aca {
    margin: 100px 0 55px 65px;
    font-size: 45px;
}

.section-one {
    background-color: #191717;
    color: var(--whitepage);
}

.ventanita {
    position: absolute;
    width: 200px;
    height: 150px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    cursor: move;
}











.experience, .toolbox { margin-top: 55px; }
.images {
    flex-direction: row; 
    flex-wrap: wrap;
}

.img-content {
    width: 50px;
    margin: 0 auto;
    padding: 20px;
    overflow: hidden;
}

.img-content img {
    max-width: 100%;
    height: auto;
}

.instagram-logo, .in-logo { width: 35px; }
.footer {
    background-color: var(--blackpage);
    color: white;
    height: 80vh;
    flex-direction: column;
    margin-top: 55px;
}

.footer h2 { font-size: 52px; }
.network {
    margin-top: 35px;
    display: flex;
    gap: 25px;
}

/* -- Responsive Design */

@media only screen and (max-width: 1260px) {
    .image { max-width: 350px; }
}

@media only screen and (max-width: 1100px) {
    .image { max-width: 325px; }
    .aca {
        width: 100%;
        flex-direction: column;
        min-height: 500px;
    }
}

@media only screen and (max-width: 1024px) {
    .image { max-width: 325px; }
    .exp {
        width: 100%;
        flex-direction: column;
        min-height: 500px;
    }
}

@media only screen and (max-width: 980px) {
    .image { max-width: 250px; }
    .text { font-size: 40px; }
}

@media only screen and (max-width: 815px) {
    .image { max-width: 210px; }
    .text { font-size: 35px; }
    .aca, .exp {
        min-height: 400px;
    }

    .aca-container-image, .job-container-image {
        max-width: 100px;
        overflow: hidden;
        margin: 30px;
    }
    
    .aca-container-image img, .job-container-image img {
        max-width: 100%;
        height: auto;
        border-radius: 50%;
    }

    .experience-container, .academic { font-size: 14px; }
}

@media only screen and (max-width: 715px) {
    .image { max-width: 190px; }
    .text { font-size: 30px; }

    .aca-container-image, .job-container-image { max-width: 90px; }
    .experience-container, .academic { font-size: 11px; }
}

@media only screen and (max-width: 625px) {
    .image { max-width: 160px; }
    .text { font-size: 25px; }
    .academic {
        flex-direction: column;
        margin: 15px;
    }

    .aca-container-image { max-width: 120px; }
    .academic { font-size: 18px; }
}

@media only screen and (max-width: 600px) {
    .navbar { font-size: 14px; }
    .job-info { display: none; }

    .job-container-image { max-width: 120px; }
    .experience-container { font-size: 18px; }
}

@media only screen and (max-width: 525px) {
    .image { max-width: 140px; }
    .text { font-size: 22px; }
    .navbar {
        flex-direction: column;
        padding: 20px 0;
    }
}


@media only screen and (max-width: 477px) {
    .banner { flex-direction: column; }
    .text { font-size: 32px; }
    .image {
        margin: 35px 0;
        max-width: 200px;
    }
}

@media only screen and (max-width: 425px) {
    .text { font-size: 28px; }
}

@media only screen and (max-width: 395px) {
    .text { font-size: 24px; }
}

@media only screen and (max-width: 375px) {
    .aca-container-image, .job-container-image { max-width: 100px; }
    .academic, .experience-container { font-size: 14px; }
}

@media only screen and (max-width: 335px) {
    .text { font-size: 22px; }
}